*/__pycache__/*
*.pyc
.config/nvim/*
.config/coc/*
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/coc/ultisnips/
!.config/coc/extensions/package.json
.config/QtProject.conf
.config/vlc/vlc-qt-interface.conf
tags
.ignore
scripts/odisys/
.config/mpv/watch_later/*
