Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*termName: rxvt-unicode-256color

XTerm*background:        #222D31
XTerm*foreground:        #d8d8d8
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true

/* URxvt.foreground:           #ffffff */
/* URxvt.background:           #1c0F16 */
/* URxvt.borderColor:          #1c0F16 */
/* URxvt.borderless:          true */
/* URxvt.internalBorder: 5 */

/* URxvt.cursorColor:          #ffa1c0 */ 
/* URxvt.colorBD:              #ffffff */
/* URxvt.colorIT:              #a761c2 */
/* URxvt.colorUL:              #6d9cbe */
/* URxvt.underlineColor:       #333333 */
/* URxvt.highlightColor:       #ffa1c0 */ 
/* URxvt.highlightTextColor:   #151515 */
/* URxvt.cursorBlink:          true */
/* URxvt.cursorUnderline:      false */

/* *background:                      #1c0F16 */
/* *foreground:                      #ffffff */
/* *fading:                          8 */
/* *fadeColor:                       black */
/* *cursorColor:                     #ffa1c0 */
/* *pointerColorBackground:          #2B2C2B */
/* *pointerColorForeground:          #16A085 */

! Solarized dark color scheme

/* #define S_base03        #03031b */
/* #define S_base02        #073642 */
/* #define S_base01        #586e75 */
/* #define S_base00        #657b83 */
/* #define S_base0         #839496 */
/* #define S_base1         #93a1a1 */
/* #define S_base2         #eee8d5 */
/* #define S_base3         #fdf6e3 */
/* #define S_yellow        #b58900 */
/* #define S_orange        #cb4b16 */
/* #define S_red           #dc322f */
/* #define S_magenta       #d33682 */
/* #define S_violet        #6c71c4 */
/* #define S_blue          #268bd2 */
/* #define S_cyan          #2aa198 */
/* #define S_green         #859900 */
/* *background:            S_base03 */
/* *foreground:            S_base0 */
/* *fadeColor:             S_base03 */
/* *cursorColor:           S_base1 */
/* *pointerColorBackground:S_base01 */
/* *pointerColorForeground:S_base1 */
/* !! black dark/light */
/* *color0:                S_base02 */
/* *color8:                S_base03 */
/* !! red dark/light */
/* *color1:                S_red */
/* *color9:                S_orange */
/* !! green dark/light */
/* *color2:                S_green */
/* *color10:               S_base01 */
/* !! yellow dark/light */
/* *color3:                S_yellow */
/* *color11:               S_base00 */
/* !! blue dark/light */
/* *color4:                S_blue */
/* *color12:               S_base0 */
/* !! magenta dark/light */
/* *color5:                S_magenta */
/* *color13:               S_violet */
/* !! cyan dark/light */
/* *color6:                S_cyan */
/* *color14:               S_base1 */
/* !! white dark/light */
/* *color7:                S_base2 */
/* *color15:               S_base3 */

! Scheme: Dmitri Voronianski (http://pixelhunter.me)
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
*.color16:    #F99157
#define bg #282A36
! #define bg_alt #44475A
#define bg_alt #424450 /* vim cursorline (subtle) */
#define fg #F8F8F2
#define fg_alt #F1FA8C
#define accent #BD93F9
#define urgent #FF5555

! Base16 Oceanic Next
/* #define base00 #1B2B34 ! oceanic next default background */
! #define base00 #03031b
! #define base01 #343D46
! #define base02 #4F5B66
! #define base03 #65737E
! #define base04 #A7ADBA
! #define base05 #C0C5CE
! #define base06 #CDD3DE
! #define base07 #D8DEE9
! #define base08 #EC5f67
! #define base09 #F99157
! #define base0A #FAC863
! #define base0B #99C794
! #define base0C #5FB3B3
! #define base0D #6699CC
! #define base0E #C594C5
! #define base0F #AB7967
! #define bg base00
! #define bg_alt #1B2B34
! #define fg base03
! #define fg_alt base05
! #define accent base0D
! #define urgent base08
! *.foreground:   base05
! *.background:   base00
! *.cursorColor:  base05
! *.color0:       base00
! *.color1:       base08
! *.color2:       base0B
! *.color3:       base0A
! *.color4:       base0D
! *.color5:       base0E
! *.color6:       base0C
! *.color7:       base05
! *.color8:       base03
! *.color9:       base08
! *.color10:      base0B
! *.color11:      base0A
! *.color12:      base0D
! *.color13:      base0E
! *.color14:      base0C
! *.color15:      base07
! ! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! ! use 'shell' template to set these if necessary
! *.color16:      base09
! *.color17:      base0F
! *.color18:      base01
! *.color19:      base02
! *.color20:      base04
! *.color21:      base06
! *.color22:      bg_alt

! ! Challenger Deep Terminal Colors
! *.foreground:   #cbe3e7
! *.background:   #1e1c31
! *.cursorColor:  #fbfcfc
!
! ! black
! *.color0:       #565575
! *.color8:       #100e23
!
! ! red
! *.color1:       #ff8080
! *.color9:       #ff5458
!
! ! green
! *.color2:       #95ffa4
! *.color10:      #62d196
!
! ! yellow
! *.color3:       #ffe9aa
! *.color11:      #ffb378
!
! ! blue
! *.color4:       #91ddff
! *.color12:      #65b2ff
!
! ! magenta
! *.color5:       #c991e1
! *.color13:      #906cff
!
! ! cyan
! *.color6:       #aaffe4
! *.color14:      #63f2f1
!
! ! white
! *.color7:       #cbe3e7
! *.color15:      #a6b3cc

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

!! URxvt.font:                       9x15,xft:TerminessTTFNerdFontMono

/*
   URxvt.allow_bold:           true
   URxvt*font: xft:source code pro:size=13
   URxvt*imFont: xft:source code pro:size=13
   URxvt*boldFont: xft:source code pro:size=13
   URxvt*italicFont: xft:source code pro:size=13
   URxvt*boldItalicFont: xft:source code pro:size=13
   URxvt*letterSpace: 0
 */


rofi.show-icons: true
rofi.terminal: st
rofi.ssh-command: {terminal} -e sh -c "tmux new-session -s {host} {ssh-client} {host} || tmux attach -t {host}"

rofi.allow_bold: true
rofi.width: 30
rofi.lines: 20
rofi.line-margin: 5
! rofi.line-padding: 3
rofi.font: Noto Sans 12

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  bg, accent, #282c34

! Property Name     BG  FG  BG-alt Head-BG  Head-FG
rofi.color-normal:  bg, fg, bg, bg_alt, fg_alt
rofi.color-active:  bg, accent, bg, bg, accent
rofi.color-urgent:  bg, urgent, bg, bg, base08

! Set the desired separator style
rofi.separator-style: solid

#define FT Hack Nerd Font
#define FT_SIZE 10
URxvt.allow_bold:           true
URxvt*font: xft:FT Mono:size=FT_SIZE
URxvt*imFont: xft:FT Mono:size=FT_SIZE
URxvt*boldFont: xft:FT Mono:style=Bold:size=FT_SIZE
URxvt*italicFont: xft:FT Mono:style=Italic:size=FT_SIZE
URxvt*boldItalicFont: xft:FT Mono:style-Bold Italic:size=FT_SIZE
URxvt*letterSpace: -1

st.allow_bold:           true
st.font: FT:size=FT_SIZE:antialias=true:autohint=true
st.imFont: FT:size=FT_SIZE
st.boldFont: FT:style=Bold:size=FT_SIZE:antialias=true:autohint=true
st.italicFont: FT:style=Italic:size=FT_SIZE:antialias=true:autohint=true
st.boldItalicFont: FT:style-Bold Italic:size=FT_SIZE:antialias=true:autohint=true

/* *allow_bold:           true */
/* *font: Hack Nerd Font:size=11:antialias=true:autohint=true */
/* *imFont: Hack Nerd Font:size=11 */
/* *boldFont: Hack Nerd Font:style=Bold:size=11:antialias=true:autohint=true */
/* *italicFont: Hack Nerd Font:style=Italic:size=11:antialias=true:autohint=true */
/* *boldItalicFont: Hack Nerd Font:style-Bold Italic:size=11:antialias=true:autohint=true */

! alternative font settings with 'terminus':
! URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
!! terminus names see end of file!

URxvt.depth:                      32
URxvt.scrollstyle:                plain
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*saveLines:                  5000

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:            true
! URxvt*transparent:              true
! URxvt*shading:                  138

URxvt.keysym.C-semicolon:   \033[;

! Normal copy-paste keybindings without perls
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
!!Xterm escape codes, word by word movement
!URxvt.keysym.Control-h:        \033[1;5D
!URxvt.keysym.Control-Left:        \033[1;5D
!URxvt.keysym.Shift-Control-Left:  \033[1;6D
!URxvt.keysym.Control-Right:       \033[1;5C
!URxvt.keysym.Shift-Control-Right: \033[1;6C
!URxvt.keysym.Control-Up:          \033[1;5A
!URxvt.keysym.Shift-Control-Up:    \033[1;6A
!URxvt.keysym.Control-Down:        \033[1;5B
!URxvt.keysym.Shift-Control-Down:  \033[1;6B
!
!- Perl Extension
URxvt.perl-ext-common:default,matcher,url-select,clipboard,keyboard-select,font-size
URxvt.url-launcher:Vivaldi-stable
URxvt.matcher.button:1

!- Keyboard zoom (ctrl-, ctrl+, ctrl0)
URxvt.keysym.C-minus: perl:font-size:decreasee
URxvt.keysym.C-equal: perl:font-size:increase
URxvt.keysym.C-0: perl:font-size:reset


! Rxvt.perl-ext-common:             ...,clipboard
! URxvt.keysym.M-C-c:               perl:clipboard:copy
! URxvt.keysym.M-v:                 perl:clipboard:paste
! URxvt.keysym.M-C-v:               perl:clipboard:paste_escaped
! URxvt*termName:                   string
! URxvt*geometry:                   geometry
! URxvt*chdir:                      string
! URxvt*loginShell:                 boolean
! URxvt*multiClickTime:             number
! URxvt*jumpScroll:                 boolean
! URxvt*skipScroll:                 boolean
! URxvt*pastableTabs:               boolean
! URxvt*scrollstyle:                plain
! URxvt*scrollBar_right:            boolean
! URxvt*scrollBar_floating:         true
! URxvt*scrollBar_align:            mode
! URxvt*thickness:                  number
! URxvt*scrollTtyOutput:            boolean
! URxvt*scrollTtyKeypress:          boolean
! URxvt*scrollWithBuffer:           boolean
! URxvt*tintColor:                  !7DA55
! URxvt*blurRadius:                 HxV
! URxvt*fading:                     number
! URxvt*fadeColor:                  color
! URxvt*utmpInhibit:                boolean
! URxvt*urgentOnBell:               boolean
! URxvt*visualBell:                 boolean
! URxvt*mapAlert:                   boolean
! URxvt*meta8:                      boolean
! URxvt*tripleclickwords:           boolean
! URxvt*insecure:                   boolean
! URxvt*cursorUnderline:            boolean
! URxvt*pointerBlank:               boolean
! URxvt*color0:                     color
! URxvt*color1:                     color
! URxvt*color2:                     color
! URxvt*color3:                     color
! URxvt*color4:                     color
! URxvt*color5:                     color
! URxvt*color6:                     color
! URxvt*color7:                     color
! URxvt*color8:                     color
! URxvt*color9:                     color
! URxvt*color10:                    color
! URxvt*color11:                    color
! URxvt*color12:                    color
! URxvt*color13:                    color
! URxvt*color14:                    color
! URxvt*color15:                    color
! URxvt*colorBD:                    color
! URxvt*colorIT:                    color
! URxvt*colorUL:                    color
! URxvt*colorRV:                    color
! URxvt*underlineColor:             color
! URxvt*scrollColor:                color
! URxvt*troughColor:                color
! URxvt*highlightColor:             color
! URxvt*highlightTextColor:         color
! URxvt*cursorColor:                color
! URxvt*cursorColor2:               color
! URxvt*pointerColor:               color
! URxvt*pointerColor2:              color
! URxvt*borderColor:                color
! URxvt*iconFile:                   file
! URxvt*font:                       fontname
! URxvt*boldFont:                   fontname
! URxvt*italicFont:                 fontname
! URxvt*boldItalicFont:             fontname
! URxvt*intensityStyles:            boolean
! URxvt*inputMethod:                name
! URxvt*preeditType:                style
! URxvt*imLocale:                   string
! URxvt*imFont:                     fontname
! URxvt*title:                      string
! URxvt*iconName:                   string
! URxvt*buffered:                   boolean
! URxvt*depth:                      number
! URxvt*visual:                     number
! URxvt*transient-for:              windowid
! URxvt*override-redirect:          boolean
! URxvt*hold:                       boolean
! URxvt*externalBorder:             number
! URxvt*internalBorder:             number
! URxvt*borderLess:                 true
! URxvt*lineSpace:                  number
! URxvt*letterSpace:                number
! URxvt*skipBuiltinGlyphs:          boolean
! URxvt*pointerBlankDelay:          number
! URxvt*backspacekey:               string
! URxvt*deletekey:                  string
! URxvt*print-pipe:                 string
! URxvt*modifier:                   modifier
! URxvt*cutchars:                   string
! URxvt*answerbackString:           string
! URxvt*secondaryScreen:            boolean
! URxvt*secondaryScroll:            boolean
! URxvt*perl-lib:                   string
! URxvt*perl-eval:                  perl-eval
! URxvt*perl-ext-common:            string
! URxvt*perl-ext:                   string
! URxvt*iso14755:                   boolean
! URxvt*iso14755_52:                boolean
! URxvt*xrm:                        string
! URxvt*keysym.sym:                 keysym
! URxvt*background.border:          boolean
! URxvt*background.expr:            string
! URxvt*background.interval:        seconds
! URxvt*bell-command:               string
! URxvt*kuake.hotkey:               string
! URxvt*matcher.button:             string
! URxvt*matcher.launcher:           string
! URxvt*matcher.launcher.*:         string
! URxvt*matcher.pattern.*:          string
! URxvt*matcher.rend.*:             string
! URxvt*remote-clipboard.fetch:     string
! URxvt*remote-clipboard.store:     string
! URxvt*searchable-scrollback:      string
! URxvt*selection-autotransform.*:  string
! URxvt*selection-pastebin.cmd:     string
! URxvt*selection-pastebin.url:     string
! URxvt*selection.pattern-0:        string
! URxvt*tab-bg:                     colour
! URxvt*tab-fg:                     colour
! URxvt*tabbar-bg:                  colour
! URxvt*tabbar-fg:                  colour
! URxvt*url-launcher:               string

! The Terminus font uses the following X-names:
! -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
! -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1
! -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! -xos4-terminus-medium-r-normal--20-200-72-72-c-100-iso10646-1
! -xos4-terminus-medium-r-normal--22-220-72-72-c-110-iso10646-1
! -xos4-terminus-medium-r-normal--24-240-72-72-c-120-iso10646-1
! -xos4-terminus-medium-r-normal--28-280-72-72-c-140-iso10646-1
! -xos4-terminus-medium-r-normal--32-320-72-72-c-160-iso10646-1
! -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1
! -xos4-terminus-bold-r-normal--14-140-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--20-200-72-72-c-100-iso10646-1
! -xos4-terminus-bold-r-normal--24-240-72-72-c-120-iso10646-1
! -xos4-terminus-bold-r-normal--28-280-72-72-c-140-iso10646-1
! -xos4-terminus-bold-r-normal--32-320-72-72-c-160-iso10646-1
