[Desktop Entry]
Type=Application
Name=Torrent-add
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Exec=/usr/local/bin/st -e transmission-add.sh %U
