KERNEL=="sd*", ACTION=="add", ATTR{removable}=="1", \
    RUN+="/home/nito/.config/polybar/scripts/polybar-usb-udev/usb-udev.sh --update"
KERNEL=="sd*", ACTION=="remove", \
    RUN+="/home/nito/.config/polybar/scripts/polybar-usb-udev/usb-udev.sh --update"
